<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
    <title>Sign in</title>
</head>
<body>
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-12-mobile is-12-tablet is-8-desktop is-6-widescreen">
                    <form class="box" method="post" th:action="@{/signin}" th:object="${signInForm}">
                        <div class="field">
                            <label class="label" for="email">Email</label>
                            <div class="control has-icons-left">
                                <input class="input" id="email" name="email" placeholder="e.g. cappuccino@safecornerscoffee.com"
                                       type="text">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="password">Password</label>
                            <div class="control has-icons-left">
                                <input class="input" id="password" name="password" placeholder="********"
                                       type="password">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                  </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <button class="button is-success" type="submit">Login</button>
                            </div>
                            <div class="control">
                                <button class="button is-light">
                                    <a href="/">Cancel</a>
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="box has-text-centered">
                        New to Borders? <a class="has-text-info" href="/signup">Create
                        an account.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
