<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Order | Borders</title>
</head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader "></div>

<section class="section">
    <div class="columns">
        <div class="column is-4-tablet is-3-desktop is-2-widescreen">
            <aside th:replace="fragments/menu :: menu"></aside>
        </div>
        <div class="column">
            <h1 class="title">주문</h1>

            <form th:object="${orderSearch}">
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <p class="subtitle is-5">
                                <strong th:text="${orders.size()}">2</strong> 주문
                            </p>
                        </div>

                        <div class="level-item is-hidden-tablet-only">
                            <div class="field has-addons">
                                <p class="control">
                                    <input class="input" placeholder="Order #, MemberName" th:field="*{memberName}"  type="text">
                                </p>
                                <p class="control">
                                    <button class="button">검색</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-tiem">
                            주문 상태
                        </div>
                        <div class="level-item">
                            <div class="select">
                                <select th:field="*{orderStatus}">
                                    <option value="">선택</option>
                                    <option th:each="status : ${T(com.safecornerscoffee.borders.domain.order.OrderStatus).values()}"
                                            th:text="${status}"
                                            th:value="${status}">option
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </nav>
            </form>


            <table class="table is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>#</th>
                    <th>이메일</th>
                    <th>대표상품 이름</th>
                    <th>대표상품 가격</th>
                    <th>대표상품 주문수량</th>
                    <th>상태</th>
                    <th>일시</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.member.email}"></td>
                    <td th:text="${order.orderItems[0].item.name}"></td>
                    <td th:text="${order.orderItems[0].item.price}"></td>
                    <td th:text="${order.orderItems[0].count}"></td>
                    <td th:text="${order.status}"></td>
                    <td th:text="${order.orderDate}"></td>
                    <td>
                        <a class=""
                           href="#" th:href="'javascript:cancel('+${order.id}+')'"
                           th:if="${order.status.name() == 'ORDER'}"
                        >
                            취소
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <nav th:replace="fragments/pagination :: pagination"></nav>
        </div>
    </div>
</section><!--section-->

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>