<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Order | Borders</title>
</head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader "></div>

<section class="section">
    <div class="columns">
        <div class="column is-4-tablet is-3-desktop is-2-widescreen">
            <aside th:replace="fragments/menu :: menu"></aside>
        </div>
        <div class="column">

            <div>
                <form th:object="${orderSearch}">
                    <div class="field">
                        <div class="control">
                            <input class="input" th:field="*{memberName}" type="text">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <div class="select">
                                <select th:field="*{orderStatus}">
                                    <option value="">주문상태</option>
                                    <option th:each="status : ${T(com.safecornerscoffee.borders.domain.OrderStatus).values()}"
                                            th:text="${status}"
                                            th:value="${status}">option
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <button class="button" type="submit">Search</button>
                    </div>
                </form>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>회원명</th>
                    <th>대표상품 이름</th>
                    <th>대표상품 가격</th>
                    <th>대표상품 주문수량</th>
                    <th>상태</th>
                    <th>일시</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${orders}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.member.name}"></td>
                    <td th:text="${item.orderItems[0].item.name}"></td>
                    <td th:text="${item.orderItems[0].item.price}"></td>
                    <td th:text="${item.orderItems[0].count}"></td>
                    <td th:text="${item.status}"></td>
                    <td th:text="${item.orderDate}"></td>
                    <td>
                        <a class=""
                           href="#" th:href="'javascript:cancel('+${item.id}+')'"
                           th:if="${item.status.name() == 'ORDER'}"
                        >
                            Cancel
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</section><!--section-->

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>