language: java
jdk:
  - openjdk11

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

jobs:
  include:
    - stage: test
      script:
        - "./gradlew test"
    - stage: build
      script:
        - "./gradlew clean build"

stages:
  - name: test
  - name: build


