<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="navbar has-shadow" th:fragment="bodyHeader">
    <div class="navbar-menu is-active">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/items">Book</a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="/signin">Sign in</a>
            <a class="navbar-item" href="/signup">Sign up</a>
            <div class="navbar-item">
                <form method="post" th:action="@{/logout}">
                    <input class="button is-outlined" type="submit" value="Logout">
                </form>
            </div>
        </div>
    </div>
</div><!--navbar-->