<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
    <title>Sign Up</title>
</head>
<body>
<div th:replace="fragments/bodyHeader.html :: bodyHeader"></div>
<section class="section">
    <div class="columns is-centered">
        <div class="column is-12-tablet is-8-desktop is-6-widescreen">
            <form th:action="@{/signup}" method="POST" th:object="${signUpForm}">
                <div class="field">
                    <label class="label" th:for="email">이메일</label>
                    <div class="control">
                        <input class="input" th:field="*{email}" type="email">
                    </div>
                </div><!--field#email-->
                <div class="field">
                    <label class="label" th:for="password">비밀번호</label>
                    <div class="control">
                        <input class="input" th:field="*{password}" type="password">
                    </div>
                </div><!--field#password!-->
                <div class="field">
                    <label class="label" for="name">이름</label>
                    <div class="control">
                        <input class="input" th:field="*{name}" type="text">
                    </div>
                </div><!--field#name-->
                <div class="field">
                    <label class="label" for="city">도시</label>
                    <div class="control">
                        <input class="input" th:field="*{city}" type="text">
                    </div>
                </div><!--field#name-->
                <div class="field">
                    <label class="label" th:for="street">거리</label>
                    <div class="control">
                        <input class="input" th:field="*{street}" type="text">
                    </div>
                </div><!--field#name-->
                <div class="field">
                    <label class="label" th:for="zipcode">우편번호</label>
                    <div class="control">
                        <input class="input" th:field="*{zipcode}" type="text">
                    </div>
                </div><!--field#name-->


                <div class="field is-grouped is-grouped-centered">
                    <button class="button is-fullwidth is-success" type="submit">Create account</button>
                </div>
            </form>
        </div>
    </div>
</section><!--section-->
</body>
</html>
