<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Borders</title>
</head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader "/>

<section class="section">
    <div class="columns">
        <div class="column is-4-tablet is-3-desktop is-2-widescreen">
            <aside th:replace="fragments/menu :: menu"></aside>
        </div>
        <div class="column">
            <nav class="breadcrumb">
                <ul>
                    <li>
                        <a href="/items">상품</a>
                    </li>
                    <li class="is-active">
                        <a href="/items/new">도서 등록</a>
                    </li>
                </ul>
            </nav> <!-- breadcrumb -->

            <form method="post" th:action="@{/items/new}" th:object="${form}">
                <div class="field">
                    <label class="label" th:for="name">상품명</label>
                    <div class="control">
                        <input class="input" th:field="*{name}" type="text">
                    </div>
                </div>

                <div class="field">
                    <label class="label" th:for="price">가격</label>
                    <div class="control">
                        <input class="input" th:field="*{price}" type="number">
                    </div>
                </div>

                <div class="field">
                    <label class="label" th:for="stockQuantity">수량</label>
                    <div class="control">
                        <input class="input" th:field="*{stockQuantity}" type="number">
                    </div>
                </div>

                <div class="field">
                    <label class="label" th:for="*{author}">저자</label>
                    <div class="control">
                        <input class="input" th:field="*{author}" type="text">
                    </div>
                </div>

                <div class="field">
                    <label class="label" th:for="isbn">ISBN</label>
                    <div class="control">
                        <input class="input" th:field="*{isbn}" type="text">
                    </div>
                </div>

                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <button class="button is-medium is-success" type="submit">등록</button>
                    </div>
                    <div class="control">
                        <a class="button is-medium is-light" href="/items">취소</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section><!--section-->

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>