<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Borders</title>
</head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader "/>

<section class="section">
    <div class="columns">
        <div class="column is-4-tablet is-3-desktop is-2-widescreen">
            <aside th:replace="fragments/menu :: menu"></aside>
        </div>
        <div class="column">
            <h1 class="title">상품</h1>

            <nav class="level">
                <div class="level-left">
                    <p class="level-item">
                        <a class="button is-success" href="/items/new">등록</a>
                    </p>

                    <div class="level-item is-hidden-tablet-only">
                        <div class="field has-addons">
                            <p class="control">
                                <input class="input" placeholder="Title, isbn..." type="text">
                            </p>
                            <p class="control">
                                <button class="button">검색</button>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="level-right">
                    <div class="level-item">
                        Order by
                    </div>
                    <div class="level-item">
                        <div class="select">
                            <select>
                                <option>-</option>
                            </select>
                        </div>
                    </div>
                </div>
            </nav><!-- toolbar -->

            <table class="table is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th class="is-narrow">#</th>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>재고수량</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.price}"></td>
                    <td th:text="${item.stockQuantity}"></td>
                    <td>
                        <a href="#" th:href="@{/items/{id}/edit (id=${item.id})}">수정</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <nav th:replace="fragments/pagination :: pagination"></nav>
        </div>
    </div>
</section><!--section-->

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>